#map {
        height: 100%;
        width: 100%;
        border: 1px solid #AAA;
        z-index: 0;
        position: absolute;
        left: 0px;
        top: 0px;
}
#main {
        z-index: +100;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: rgba(255, 255, 255, 0.5)
}
      /* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: calibri, tahoma, arial, sans-serif;
        color: black;
        font-size: 1rem;
}


dl, dt, dd {
        margin: 0rem;
        padding: 0rem;
}

dd {
        margin-left: 1rem;
}


a {
        text-decoration: none;
        font-weight: normal;
        color: black;
}

input.readOnly {
        border: 0px solid #AAA;
        background-color: rgba(255, 255, 255, 0)
}

input#price {
	width:3rem
}
input#distance {
	width:6rem
}
input#departure_time {
	width:6rem
}
input#seats {
	width:2rem
}


input.latlon { 
	width:10rem
}

div.toggle  {
        display: none;
}

#topnav > .toggled { display: none; }
#topnav:focus-within > .toggled { display: block; }

div.topnav {	 
		position: fixed;
		width: auto;
		top: 1rem;
		right: 1rem;
		overflow: visible;
		z-index:500;
        	border: 1px solid #AAA;
		font-size: 2rem;
		background-color: #ddd;	
}
div#navicon{	 
		float: right;
		clear: both;
		font-size: 3rem;
		padding: 0rem;
		margin: 0rem;
}
div.topnav  dt {	 
		padding: 0.5rem;
		float: left;
		clear: both;
}
div.center {
	text-align:center
}
div.f15 {
	                font-size: 1.5rem;
}
