#map {
        height: 99%;
        width: 99%;
        border: 1px solid #AAA;
        z-index: +0;
        position: absolute;
        left: 0px;
        top: 0px;
}
#main {
        z-index: +1;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: white
}
      /* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: calibri, tahoma, arial, sans-serif;
        color: black;
        font-size: 1rem;
}

dl, dt, dd {
        margin: 0rem;
        padding: 0rem;
}

dd {
        margin-left: 1rem;
}


a {
        text-decoration: none;
        font-weight: normal;
        color: black;
}

input.readOnly {
        border: 0px solid #AAA;
}

div.toggle  {
        display: none;
}

nav {
        padding: 0px 15px 0px 30px;
}



	.topnav {	 
		position: fixed;
		width: auto;
		padding: 0px;
		top: 0px;
		right: 0px;
		overflow: visible;
		z-index:500;
		
	}
	
	.topnav a {
		display: none;	
		float: right;
		top: 0px;
		right: 0px;
		font-size: 2rem;
	}
 
	.topnav a.navicon {
		display: block;           		
		top: 0px;
		right: 0px;
		background-color: #eee;	
		/* background-color:#20124d; */
		/* color: white; */
		font-size: 3rem;
    }
  
 /* responsive */
	.topnav.responsive a {
		display: block;	
		float: none;
		clear: both;
		top: 0px;
		right: 0px;
		background-color: #eee;	
	}
  
	.topnav.responsive a.navicon {
		float: right;
		top: 0px;
		right: 0px;		
		background-color: #eee;	
	}  
	
	 .topnav.responsive a:hover {
		background-color:#ddd;
		/* color: white; */
	}

