@()
        <nav>
                <dl class="topnav" id="tn">
                        <dt><a href="javascript:void(0);" class="navicon" onclick="navicon()" >&#9776;</a> </dt>
                        <dt><a href="search">Search</a></dt>
                        <dt><a href="newoffer">Offer</a></dt>
                        <dt><a href="myoffers">My Offers</a></dt>
                        <dt><a href="mybookings">My Booking</a></dt>
                        <dt><a href="contactus">Contact Us</a></dt>
                        <dt><a href="termsofuse">Terms of Use</a></dt>
                </dl>
        </nav>
