@import com.beegrove.ride.RideRequest
@()(implicit request: Request[AnyContent] )
@import java.util.UUID.randomUUID
        <nav>
                <dl class="topnav" id="tn">
                        <dt><a href="javascript:void(0);" class="navicon" onclick="navicon()" >&#9776;</a> </dt>
                        <dt id=signinwithlinkedin> <script type="in/Login"></script> </dt>
                        <dt><a href="/myprofile" onclick="return ride.checkAuth();" >My Profile</a></dt>
                        <dt><a href="/search">Search</a></dt>
                        <dt><a href="/newoffer" onclick="return ride.checkAuth(); " >Post a Trip</a></dt>
                        <dt><a href="/myoffers"  onclick="return ride.checkAuth(); ">My Offers</a></dt>
                        <dt><a href="/mybookings" onclick="return ride.checkAuth(); ">My Booking</a></dt>
                        <dt><a href="/contactus">Contact Us</a></dt>
                        <dt><a href="/termsofuse">Terms of Use</a></dt>
                        <dt>@showfirstName<a  id=signout onclick="ride.signout()" >Sign Out</a></dt>
                </dl>
        </nav>

@linkedin_url = @{
	val url="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=86xvjldqclucd9&redirect_uri=http%3A%2F%2Frideshare.beegrove.com:9000%2Flinkedin%2Fcallback&scope=r_basicprofile&state="
	val state = randomUUID().toString 
	url+state
}

@showfirstName = @{
	val r= RideRequest(request)
	val firstName=r.getCookie("profile.firstName")
        if (firstName =="") ""
        else s"$firstName - signed in via LinkedIn"
}

