

@()(implicit flash: Flash ,request: Request[AnyContent] )

@{ //(implicit request: RequestHeader, m: Messages) 
}

@main("Welcome to Play") {

<div  id=newoffer >
      <div class=formentry>
      <br/>
      <div class="center f18">New Trip Information</div>
      <form action="/saveoffer" method="POST"  onfocusout="validatenewoffer(this)" >
        <dl class=" error" id="start_loc_field"> 
          <dt><label for="start_loc">From (required) </label></dt>
          <dd>
              <input type="text" id="start_loc" name="start_loc" value="" size="50" placeholder="From"  required onblur="geocode(this)"/>
          </dd>
          <dd>
              <input type="text" id="start_lat" class="readOnly latlon" name="start_lat" value=""  readOnly=true />
              <input type="text" id="start_lon" class="readOnly latlon" name="start_lon" value=""  readOnly=true />
          </dd>
          <dd>
              <textarea id="start_display_name" class="readOnly display_name" name="start_display_name" value="" readOnly=true style="background-color:rgba(0,0,0,0); border:none" ></textarea>
          </dd>
        </dl>

        <dl class=" error" id="end_loc_field">
          <dt><label for="to">To (required) </label></dt>
          <dd>
              <input type="text" id="end_loc" name="end_loc" value="" size="50" placeholder="To"  required onblur="geocode(this)"/>
          </dd>
          <dd>
              <input type="text" id=end_lat class="readOnly latlon" name="end_lat" value=""  readOnly=true />
              <input type="text" id=end_lon class="readOnly latlon" name="end_lon" value=""  readOnly=true />
          </dd>
          <dd>
              <textarea id=end_display_name class="readOnly display_name" name="end_display_name" value=""  readOnly=true style="background-color:rgba(0,0,0,0); border:none;"></textarea
          </dd>
        </dl>
        <dl class=" error" id="distance_field">
          <dt><label for="distance">Distance (miles) </label></dt>
          <dd>
              <input type="text" id=distance class="readOnly " name="distance" value=""  placeholder="no route found" readOnly=true /> 
          </dd>
        </dl>
        <dl class=" error" id="trip_start_field">
          <dt><label for="trip_start">Start Date (required)</label></dt>
          <dd>
          <input type="date" id="trip_start" name="trip_start" required />
          </dd>
        </dl>
        <dl class=" error" id="departure_time_field">
          <dt><label for="departure_time">Departure Time (required)</label></dt>
          <dd>
            <input type="time" id="departure_time" name="departure_time" value="09:00" step="60" required/>
          </dd>
        </dl>

        <dl class=" error" id="seats_field">
          <dt><label for="seats">Available Seats (required, min 1, max 6)</label></dt>
          <dd>
		<input type="number" id="seats" name="seats" value=3 min="1" max="6" step=1 />
          </dd>
        </dl>
        <dl class=" error" id="price_field">
          <dt><label for="price">Price (required, min 0.0, max 0.2) </label></dt>
          <dd>
		<input type="number" id="price" name="price" value=0.1 min="0" max="0.20" step=0.01 /> per mile
          </dd>
        </dl>

        <dl class=" error" id="recurring">
          <dt><label for="recurring">Recurring: </label>
            <input type="checkbox" id="recurring" name="recurring" onclick="toggleDisplayByCheck(this)" unchecked />
		</dt>
        </dl>

	<div id=toggleBy-recurring class=toggle>
          <dl class=" error" id="trip_end_field">
            <dt><label for="trip_end">End Date (must be within 92 days after Start Date)</label></dt>
            <dd>
            <input type="date" id="trip_end" name="trip_end"  />
            </dd>
          </dl>
  
          <dl class=" error" id="monday">
            <dd>
              <input type="checkbox" id="day0" name="day0"  unchecked />Sunday
            </dd>
            <dd>
              <input type="checkbox" id="day1" name="day1"  unchecked />Monday
            </dd>
            <dd>
              <input type="checkbox" id="day2" name="day2"  unchecked />Tueday
            </dd>
            <dd>
              <input type="checkbox" id="day3" name="day3"  unchecked />Wednesday
            </dd>
            <dd>
              <input type="checkbox" id="day4" name="day4"  unchecked />Thursday
            </dd>
            <dd>
              <input type="checkbox" id="day5" name="day5"  unchecked />Friday
            </dd>
            <dd>
              <input type="checkbox" id="day6" name="day6"  unchecked />Saturday
            </dd>
          </dl>
	</div>
	<dl class=" error" id="description_field">
          <dt><label for="description">Description</label></dt>
          <dd>
            <textarea name=description placeholder="For example, non-smoking, female only, flexible time, flexible pickup,etc"></textarea>
          </dd>
        </dl>


	

        <br/>
        <input type="submit" id=submit value="Publish" onClick="return validatenewoffer(this.parentNode);  " disabled />
        <br/>
        <br/>
      </form>
      </div>
      
</div>
}
