@import models.db.tables.UsrTable

@(usr: UsrTable , saved: Boolean = false)( implicit flash: Flash, request: Request[AnyContent] )

@main("Rideshare made easy") {

<div  id=profile >
  <dl>
    <dd>
      <div class=formentry>
      <br/>
      <div class="center f15"  hide=@{ saved} >Please Complete User Profile</div>
      <div class="center f15"  hide=@{!saved} >User Profile Saved</div>
      <form action="@{if (saved) "/" else "/saveprofile"}" method="POST" >
        <dl class=" error" id="last_name_field"> 
          <dt><label for="last_name">Last Name</label></dt>
          <dd>
              <input type="text" id="last_name" name="last_name" value="@usr.last_name" size="30" readonly />
          </dd>
        </dl>

        <dl class=" error" id="first_name_field">
          <dt><label for="to">First Name</label></dt>
          <dd>
              <input type="text" id="first_name" name="first_name" value="@usr.first_name" size="30" readonly />
          </dd>
        </dl>
        <dl class=" error" id="email_field">
          <dt><label for="email">Email (required) </label></dt>
          <dd>
              <input type="email" id=email name=email value="@usr.email"  placeholder="Email Address" required 
                   pattern="@{UsrTable.values.EMAIL_PATTERN}" @{if (saved) "readonly" else ""} /> 
          </dd>
        </dl>
        <br/>
        <input type="submit" value="@{if (saved) "Ok" else "Save"}" />
        <br/>
        <br/>
      </form>
      </div>
      
    </dd>
  </dl>
</div>
}


